<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<link rel="shortcut icon" href="C:\Users\sande\Desktop\Deepu\ZTM\WebServer\static\assets\images\Me.jpg">
</head>
<body>
	<form method="POST">
		First Name: <input type="text" name="firstname"><br>
		<br>
		Last Name: <input type="text" name="lastname"><br><br>
		Email: <input type="email" required name="email"><br><br>
		Password: <input type="password" minlength="6"><br><br>
		Date of Birth: <input type="date" name="DOB"><br><br>
		Gender: <br>
		<input type="radio" name="gender">Male<br>
		<input type="radio" name="gender">Female<br>
		<input type="radio" name="gender">Other<br>
		<input type="radio" name="gender">Prefer to not share<br><br>
		You Like:<br>
		<input type="checkbox" name="cats">Cats<br>
		<input type="checkbox" name="dogs">Dogs<br><br>
		One Fav Car:<br>
		<select>
			<option  value = "Lamborghini" name="lamboghini">Lamborghini</option>
			<option value = "Audi" name="Audi">Audi</option>
			<option value = "Tesla" name="Tesla">Tesla</option>
		</select><br><br>
		<input type="submit" value="Register">
		<input type="reset" name="">
	</form>
</body>
</html>