<!DOCTYPE html>
<html>
<head>
	<title>Yoo..!!!!</title>
	<link rel = 'stylesheet' type = 'text/css' href = 'static\style.css'>
	<link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}">
</head>
<body>
	<h1> Hey there..!!</h1>
		<p>a hole in the shape of machannous gold fish harper jelly koat and click <a href = https://www.google.com/search?q=sandeep+thokala&sxsrf=ALeKk01ckFt8qBzUUMEi8C8E2z3LPInkyA:1611068727251&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjZ3sjZoqjuAhXLF3IKHQ5cDoMQ_AUoA3oECAYQBQ&biw=1522&bih=738&dpr=1.25#imgrc=BS3myXbxJrKypM> here</a>  for an awesome pic of mine</p>
		<p>keep rocking</p>
	<script src="static\script.js"></script>>
</body>
</html>