<!DOCTYPE html>
<html>
<head>
	<title>Sandeep's Pictures</title>
	<link rel = 'stylesheet' type = 'text/css' href = 'static\style.css'>
	<link rel="shortcut icon" href="C:\Users\sande\Desktop\Deepu\ZTM\WebServer\static\assets\images\Me.jpg" sizes="10x10">
</head>
<body>
	<a href = "newpage.html">New Page</a>  <br>
	<a href = "register.html">Register</a>
	<ul>
		<li>Childhood</li>
		<img src="C:\Users\sande\Desktop\chaitu seagate\My Pictures\deepu\IMG_1431.JPG" width = "99" height="66.67">
		<img src="C:\Users\sande\Desktop\chaitu seagate\My Pictures\deepu\IMG_0331.JPG" width = "99" height="66.67">
		<img src="C:\Users\sande\Desktop\chaitu seagate\My Pictures\deepu\IMG_0646.JPG" width = "99" height="66.67">
		<li>College</li>
		<img src="C:\Users\sande\Desktop\chaitu seagate\My Pictures\deepu\IMG_0269.JPG" width = "99" height="66.67">
		<img src="C:\Users\sande\Desktop\chaitu seagate\My Pictures\deepu\IMG_0374.JPG" width = "99" height="66.67">
	</ul>
	<p>keep rocking</p>
	<script src="static\script.js"></script>>
</body>
</html>